
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="mySaveFiles.json?nocache=123" ></script>
<script type="text/javascript">
    /*var markers = [
    {
        "title": 'Aksa Beach',
        "lat": '19.1759668',
        "lng": '72.79504659999998',
        "description": 'Aksa Beach is a popular beach and a vacation spot in Aksa village at Malad, Mumbai.'
    }
    ];*/
	var markers = [];
	
    window.onload = function () {
        LoadMap();
    }
    function LoadMap() {
        var mapOptions = {
            center: new google.maps.LatLng(12.91692599999999, 77.61486423918518),
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
 
        //Create and open InfoWindow.
		filename = "http://192.173.4.136/te/locations.json";
		var rand = Math.random();
		filename += "?version="+ rand;
        var infoWindow = new google.maps.InfoWindow();
		$.getJSON( filename, function( data ) {
			console.log(data);
			var items = [];
			$.each( data, function( key, val ) {
			  items = val;
			});
 			for (var i = 0; i < items.length; i++) {
				var data = items[i];
				var myLatlng = new google.maps.LatLng(data[0], data[1]);
				markers.push(new google.maps.Marker({
					position: myLatlng,
					map: map,
				}));
			}
		});
		//console.log(markers)
    }
</script>
<div id="dvMap" style="width: 1250px; height: 650px">
</div>
